.vscode
*.env

extend/*
!extend/payclient/
!extend/Plugin.php
!extend/ImgCaptcha.php

vendor/*
!vendor/vendor.zip

runtime/*

app/controller/TestController.php

config/extend/*
!config/extend/menu.php
